@charset "UTF-8";

main {
  padding: 60px 0 120px;
}

main.map {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
    background-color: #f5f5f5;
}

footer.navbar {
  border-top: 1px solid #eee;
}

#map {
  flex: 1;
}

a.navbar-brand {
  font-size: 110%;
}

/* PC用 */
@media (min-width: $screen-sm-min) {
  main {
    padding: 60px 0;
  }
}
